


.mi-card-catalogo{
    margin: 5px;
  border: 1px solid #ccc;
  float: left;
 

}

.card-header img {

  width: 200px;
  height: auto;

}




.card-header{
    background-color: white;

}

.card-body h6{
    padding: 5px;
  text-align: center;
  font-size: 26px;
  

}

    

.mi-button-card{
    background-color: white;
    color: black;
    border: 2px solid white;
    
  }

  .mi-button-card:hover {
    background-color: #ff8566;
    color: white;
  }



  



